    <footer class="footer">
        <div class="footer-content">
            <div class="logo-footer"><img src="/images/logo-footer.png" alt="" class="logo-image"></div>
            <nav class="footnav">
                <div class="footnav-item-menu">
                    <ul class="footnav-menu">
                        <li class="footnav-menu-link"><a href="">Contact us</a></li>
                        <li class="footnav-menu-link"><a href="">Shipping</a></li>
                        <li class="footnav-menu-link"><a href="">Privacy Policy</a></li>
                        <li class="footnav-menu-link"><a href="">Our story</a></li>
                    </ul>
                </div>
            </nav>
            <div class="site-footer-social">
                <a href="" class="social-link"><i class="fab fa-instagram"></i></a>
                <a href="" class="social-link"><i class="fab fa-facebook-square"></i></a>
            </div>
        </div>
    </footer>
</body>
</html>