 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/4795bf26b8.js" crossorigin="anonymous"></script>
    <link rel = "icon" href = 
    "https://media.geeksforgeeks.org/wp-content/cdn-uploads/gfg_200X200.png" 
            type = "image/x-icon">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/reponsive.css">
    <title>nkt</title>
    <style>
        body{
            background-color: white;
        }
    </style>
</head>
<body>
    <div class="site-header">
        <a href="home.html" class="site-logo"><img src="/images/logo.png" alt="logo-image"> </a>

        <div class="search-form-desktop">
            <form action="/pages/search-results-page" class="search-form">
                <input type="text" aria-label="Search products" placeholder="Search products" class="search-input">
                <button class="search-button" type="submit" aria-label="Search">
                    <span class="search-icon"><i class="fas fa-search"></i></span>
                </button>
            </form>
        </div>

        <div class="site-actions">
            <div class="site-actions-account">
                <a href="./login.html" class="site-actions-account-icon">
                    <span class="account-icon"><i class="fas fa-user-circle"></i></span></a>
            </div>
            <div class="site-actions-cart">
                <a href="cart.html" class="site-actions-cart-icon">
                    <span class="shopping-cart-icon"><i class="fas fa-shopping-cart"></i></span></a>
                <span class="site-actions-cart-number">3</span>
            </div>
        </div>


        

    </div>

    <div class="navigation-bar">
            <ul class="desktop-shop-menu">
                <li class="menu-home">
                    <a href="" class="collections-link" >
                        <span class="link-title">Home</span>
                    </a>
                </li>
                <li class="menu-new-arrivals">
                    <a href="" class="collections-link" >
                        <span class="link-title">New Arrivals</span>
                    </a>
                </li>
                <li class="menu-back-in-stock">
                    <a href="" class="collections-link">
                        <span class="link-title">Back in stock</span>
                    </a>
                </li>
                <li class="menu-denim">
                    <a href="" class="collections-link">
                        <span class="link-title">Denim</span>
                    </a>
                </li>
                <li class="menu-bottoms">
                    <a href="" class="collections-link">
                        <span class="link-title">Bottoms</span>
                    </a>
                </li>
                <li class="menu-tops">
                    <a href="" class="collections-link">
                        <span class="link-title">Tops</span>
                    </a>
                </li>
                <li class="menu-outer-wear">
                    <a href="" class="collections-link">
                        <span class="link-title">Outer Wear</span>
                    </a>
                </li>
                <li class="menu-sales">
                    <a href="" class="collections-link">
                        <span class="link-title">Sales</span>
                    </a>
                </li>

            </ul>
            
    </div>