<% include header %>
    <main class="site-main">
        <div class="background-image">
            <div class="background-home">
                <img src="/images/home-image.jpg" alt="" class="background">
            </div>
            <div class="text-content">
                <span>New arrivals</span>
                <h2>just landed</h2>
                <a href="NewArrivals.html" class="shop-now">SHOP NOW</a>
            </div>
        </div>     
        
        <div class="best-seller">
            <div class="featured-products-header">
                <h4 class="section-title">Best Seller</h4>
                <a href="" class="view-all-link">View all</a>
            </div>
            <div class="collection-recommend">
                <div class="collection-grid-item-recommend">
                    <artical class="product-item">
                        <figure class="product-item-image">
                            <a href="">
                                <img src="collections/d199-skeleton-denim-orange-2_320x.jpg" alt="">
                                <div class="collection-product-size-overlay">
                                    <span class="product-size-title">Available sizes</span>
                                    <ul class="product-size-list">
                                        <li class="product-size-label">28</li>
                                        <li class="product-size-label">30</li>
                                        <li class="product-size-label">32</li>
                                        <li class="product-size-label">34</li>
                                        <li class="product-size-label">36</li>
                                    </ul>
                                    <span class="product-size-button">Shop now</span>
                                </div>
                            </a>
                        </figure>
                        <div class="product-item-titles">
                            <h1 class="product-item-title">D199 Skeletion Denim</h1>
                            <div class="product-color">Orange</div>
                            <div class="product-item-price">
                                <div id=116161><span class="money-notranslate">1.565.261 VND</span></div>
                            </div>
                        </div>
                    </artical>
                </div>
    
                <div class="collection-grid-item-recommend">
                    <artical class="product-item">
                        <figure class="product-item-image">
                            <a href="">
                                <img src="collections/d199-skeleton-denim-orange-2_320x.jpg" alt="">
                                <div class="collection-product-size-overlay">
                                    <span class="product-size-title">Available sizes</span>
                                    <ul class="product-size-list">
                                        <li class="product-size-label">28</li>
                                        <li class="product-size-label">30</li>
                                        <li class="product-size-label">32</li>
                                        <li class="product-size-label">34</li>
                                    </ul>
                                    <span class="product-size-button">Shop now</span>
                                </div>
                            </a>
                        </figure>
                        <div class="product-item-titles">
                            <h1 class="product-item-title">D199 Skeletion Denim</h1>
                            <div class="product-color">Orange</div>
                            <div class="product-item-price">
                                <div id=116161><span class="money-notranslate">1.565.261 VND</span></div>
                            </div>
                        </div>
                    </artical>
                </div>
    
                <div class="collection-grid-item-recommend">
                    <artical class="product-item">
                        <figure class="product-item-image">
                            <a href="">
                                <img src="collections/d199-skeleton-denim-orange-2_320x.jpg" alt="">
                                <div class="collection-product-size-overlay">
                                    <span class="product-size-title">Available sizes</span>
                                    <ul class="product-size-list">
                                        <li class="product-size-label">28</li>
                                        <li class="product-size-label">30</li>
                                        <li class="product-size-label">32</li>
                                        <li class="product-size-label">34</li>
                                    </ul>
                                    <span class="product-size-button">Shop now</span>
                                </div>
                            </a>
                        </figure>
                        <div class="product-item-titles">
                            <h1 class="product-item-title">D199 Skeletion Denim</h1>
                            <div class="product-color">Orange</div>
                            <div class="product-item-price">
                                <div id=116161><span class="money-notranslate">1.565.261 VND</span></div>
                            </div>
                        </div>
                    </artical>
                </div>                    
                <div class="collection-grid-item-recommend">
                    <artical class="product-item">
                        <figure class="product-item-image">
                            <a href="">
                                <img src="collections/d199-skeleton-denim-orange-2_320x.jpg" alt="">
                                <div class="collection-product-size-overlay">
                                    <span class="product-size-title">Available sizes</span>
                                    <ul class="product-size-list">
                                        <li class="product-size-label">28</li>
                                        <li class="product-size-label">30</li>
                                        <li class="product-size-label">32</li>
                                        <li class="product-size-label">34</li>
                                    </ul>
                                    <span class="product-size-button">Shop now</span>
                                </div>
                            </a>
                        </figure>
                        <div class="product-item-titles">
                            <h1 class="product-item-title">D199 Skeletion Denim</h1>
                            <div class="product-color">Orange</div>
                            <div class="product-item-price">
                                <div id=116161><span class="money-notranslate">1.565.261 VND</span></div>
                            </div>
                        </div>
                    </artical>
                </div>
                <div class="collection-grid-item-recommend">
                    <artical class="product-item">
                        <figure class="product-item-image">
                            <a href="">
                                <img src="collections/d199-skeleton-denim-orange-2_320x.jpg" alt="">
                                <div class="collection-product-size-overlay">
                                    <span class="product-size-title">Available sizes</span>
                                    <ul class="product-size-list">
                                        <li class="product-size-label">28</li>
                                        <li class="product-size-label">30</li>
                                        <li class="product-size-label">32</li>
                                        <li class="product-size-label">34</li>
                                        <li class="product-size-label">36</li>
                                    </ul>
                                    <span class="product-size-button">Shop now</span>
                                </div>
                            </a>
                        </figure>
                        <div class="product-item-titles">
                            <h1 class="product-item-title">D199 Skeletion Denim</h1>
                            <div class="product-color">Orange</div>
                            <div class="product-item-price">
                                <div id=116161><span class="money-notranslate">1.565.261 VND</span></div>
                            </div>
                        </div>
                    </artical>
                </div>
                
            </div>
        </div>        
    </main>

<% include footer %>
