.cart-container{
    background-color: rgb(231, 231, 231);
    height: auto;
    min-height: 500px;
    width: 100%;
    display: flex;
}
/* Shopping cart no item*/

.cart-container__no-item{
    background-color: white;
    height: 400px;
    width: 1200px;
    margin: auto;
    /*display: flex;*/
    display: none;
    flex-direction: column;

}
.cart-container__no-item img{
    margin: auto;
    height: 40%;
}
.cart-container__no-item span{
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1.5px;
    font-family: "futura-pt", sans-serif;
    color: black;
    text-align: center;
    margin-top: -50px;
}
.cart-container__no-item a{
    background-color: black;
    color: white;
    text-align: center;
    padding: 8px 10px 10px 10px;
    text-transform: uppercase;
    width: 100px;
    margin-left: 45%;
    margin-bottom: 5px;
    margin-top: 5px;
}

/*Shopping cart has n items*/
.cart-container-n-item{
    background-color: white;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 100px;
    margin-right: 50px;
    width: 60%;
    display: flex;
    flex-direction: column;
}
.cart-product-inner{
    display: flex;
}
.cart-product-img img{
    display: block;
    max-width: 90px;
    max-height: 150px;
    width: auto;
    height: auto;
    border: 2px solid white;
    margin: 5px 10px;
}
.cart-product{
    list-style: none;
}
.cart-product-content{
    display: flex;
    margin-left: 50px;
    margin-top: 15px;
}
.cart-product-name, .cart-product-color, .cart-product-size{
    font-family: "Larsseit W01 Regular", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 5px;
    font-size: 14px;
}
.cart-product-name{
    font-weight: bold;
}
.cart-product-actions__delete{
    color:rgb(13, 92, 182);
    cursor: pointer;
}

.cart-product-content-inner{
    display: flex;
    flex-direction: column;
}
.cart-product-detail{
    display: flex;
    margin-top: 30px;
    margin-left: 250px;
}
.cart-product-price{
    font-weight: bold;
}
.cart-product-quantity{
    margin-left: 20px;
}
.cart-product-quantity span{
    border: 1px solid rgb(200, 200, 200);
    padding: 4px 8px;
    cursor: pointer;
    color: rgb(153, 153, 153);
}
.quantity-input{
    width: 22px;
    height: 22px;
    margin-top: -5px;
    text-align: center;
}

.cart-total-price{
    width: 320px;
    height: 400px;
    background-color: white;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}
.cart-address{
    margin: 10px 10px;
    display: flex;
}
.cart-address-title{
    font-size: 16px;
    font-family: "Larsseit W01 Regular", sans-serif;
}
.cart-address-title__change{
    font-size: 16px;
    margin-left: 60px;
}
.cart-address-title{
    font-weight: bold;
}
.cart-address-title__change{
    color: rgb(13, 92, 182);
}
.cart-address__info{
    display: flex;
    flex-direction: column;
    margin: 5px;
    border: 2px solid rgba(0,0,0,0.4);
}
.cart-address__info-name{
    font-size: 16px;
    font-weight: bold;
}
.cart-address__info-phone{
    font-weight: bold;
    font-size: 16px;
}
.cart-price-temp, .cart-price-ship{
    margin: 5px;
    display: flex;
}
.cart-price-temp span{
    font-size: 20px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    margin: 5px 20px;
}
.cart-price-ship span{
    font-size: 20px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    margin: 5px 20px;
}
.cart-price-total{
    display: flex;
    margin: 30px 30px;
}
.cart-price-total span{
    font-size: 20px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    color: red;
    width: 40%;
}
.cart-price-oder{
    margin-left: 20%;
    width: 60%;
    height: 40px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    background: rgb(255, 66, 78);
    color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 4px;
    border: none;
}

